body {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    height: 100%;
    width: 100%;
    margin: 0;
}

h1 {
    position: absolute;
    left: 2%;
}

#vis {
    height: 100%;
    width: 100%;
}

.tooltip {
    position: absolute;
    width: 150px;
    height: auto;
    padding: 5px;
    background-color: white;
    border: 1px solid black;
		opacity: 0.8;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.4);
    pointer-events: none;
}

.hidden {
    display: none;
}

.tooltip p {
    margin: 0;
    font-family: sans-serif;
    font-size: 12px;
    line-height: 16px;
}

.graticule {
    fill: none;
    stroke: #999;
    stroke-opacity: .0;
    stroke-width: .5px;
}

.land {
    fill: #ccc;
}

.boundary {
    fill: none;
    stroke: #fff;
    stroke-width: .5px;
}

/** Toggle Switch **/
#mode-switch {
    top: 5%;
    right: 5%;
    position: absolute;
}
#annotate-switch {
    bottom: 5%;
    right: 5%;
    position: absolute;
}

.cmn-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.cmn-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
}
input.cmn-toggle-yes-no + label {
  padding: 2px;
  width: 200px;
  height: 60px;
}
input.cmn-toggle-yes-no + label:before,
input.cmn-toggle-yes-no + label:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  color: #fff;
  font-size: 20px;
  text-align: center;
  line-height: 60px;
}
input.cmn-toggle-yes-no + label:before {
  background-color: #dddddd;
  content: attr(data-off);
  transition: transform 0.5s;
  -webkit-backface-visibility: hidden; /* Chrome, Safari, Opera */
  backface-visibility: hidden;
}
input.cmn-toggle-yes-no + label:after {
  background-color: #8ce196;
  content: attr(data-on);
  transition: transform 0.5s;
  -ms-transform: rotateY(180deg); /* IE 9 */
  -webkit-transform: rotateY(180deg); /* Safari */
  transform: rotateY(180deg);
  -webkit-backface-visibility: hidden; /* Chrome, Safari, Opera */
  backface-visibility: hidden;
}
input.cmn-toggle-yes-no:checked + label:before {
  -ms-transform: rotateY(180deg); /* IE 9 */
  -webkit-transform: rotateY(180deg); /* Safari */
  transform: rotateY(180deg);
}
input.cmn-toggle-yes-no:checked + label:after {
  -ms-transform: rotateY(0); /* IE 9 */
  -webkit-transform: rotateY(0); /* Safari */
  transform: rotateY(0);
}